@model TaskManagerDMD.Models.TmTask
<form asp-action="edit" asp-controller="home">
    <div class="form-group">
        <label asp-for="TaskName" class="control-label">
            @ViewData["TaskName"]
            </label>
        <input required value="@ViewBag.TaskToEdit.TaskName" type="text" asp-for="TaskName" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="TaskDescription" class="control-label">
            @ViewData["TaskDescription"]
            </label>
        <input value="@ViewBag.TaskToEdit.TaskDescription" type="text" asp-for="TaskDescription" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="ExecutiveList" class="control-label">
            @ViewData["ExecutiveList"]
            </label>
        <input value="@ViewBag.TaskToEdit.ExecutiveList" type="text" asp-for="ExecutiveList" class="form-control" />
    </div> 
    <div class="form-group">
        <label asp-for="RegistrationDate" class="control-label">
            @ViewData["RegistrationDate"]: @ViewBag.TaskToEdit.RegistrationDate
        </label>
        <input type="datetime-local" asp-for="RegistrationDate" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="TaskStatus" class="control-label">
            @ViewData["TaskStatus"]
            </label>
        <select asp-for="TaskStatus" class="form-control">
            <option value="Назначена">@ViewData["TaskStarted"]</option>
            <option value="Выполняется">@ViewData["TaskInProgress"]</option>
            <option value="Приостановлена">@ViewData["TaskPaused"]</option>
            <option value="Завершена">@ViewData["TaskDone"]</option>
        </select>
    </div>
    <div class="form-group">
        <label asp-for="PlannedCompletionDate" class="control-label">
            @ViewData["PlannedCompletionDate"]: @ViewBag.TaskToEdit.PlannedCompletionDate
            </label>
        <input type="datetime-local" asp-for="PlannedCompletionDate" class="form-control" />
    </div>
    <div class="form-group">
        <input type="submit" value="@ViewData["Submit"]" class="btn btn-default" />
    </div>
</form>