@model IEnumerable<TaskManagerDMD.Models.TmTask>

<div class="col-sm-8">
    <!--bootstrap таблица-->
    <table class="table-condensed">
        <tr>
            <td>Имя задачи</td>
            <td>Описание задачи</td>
            <td>Список исполнителей</td>
            <td>Дата регистрации</td>
            <td>Статус задачи</td>
            <td>Плановая трудоемкость</td>
            <td>Фактические трудозатраты</td>
            <td>Дата завершения</td>
        </tr>
        @foreach (var task in Model)
        {            
		    <tr>
                <td>@task.Task_Name</td>
                <td>@task.Task_Description</td>
                <td>@task.Executive_List</td>
                <td>@task.Registration_Date</td>
                <td>@task.Task_Status</td>
                <td>@task.Planned_Duration</td>
                <td>@task.Actual_Duration</td>
                <td>@task.Completion_Date</td>
                <td><a href="~/Home/Buy/@task.Id">Купить</a></td>
            </tr> 	        
        }
    </table>
</div>