@model TaskManagerDMD.Models.TmTask
@if (Model != null && Model.Id != 0)
{
    <h2>@ViewData["TaskName"]: @Model.TaskName</h2>
    <h3>
        @Html.ActionLink(ViewData["EditTask_Index"].ToString(), "Edit", new { id = Model.Id, culture = ViewBag.Culture }, null)
        @if (!ViewBag.Children)
        {
            @Html.ActionLink(" | "+ViewData["DeleteTask_Index"].ToString(), "Delete", new { id = Model.Id }, null)
        }        
    </h3>
    <ul class="list-group">
        <li class="list-group-item">@ViewData["TaskDescription"]: @Model.TaskDescription</li>
        <li class="list-group-item">@ViewData["ExecutiveList"]: @Model.ExecutiveList</li>
        <li class="list-group-item">@ViewData["RegistrationDate"]: @Model.RegistrationDate.ToString(@"dd\.MM\.yyyy\ HH\:mm")</li>
        <li class="list-group-item">@ViewData["PlannedCompletionDate"]: @Model.PlannedCompletionDate.ToString(@"dd\.MM\.yyyy\ HH\:mm")</li>

        @if (Model.PlannedDurationSubtasks == 0)
        {
        <li class="list-group-item">@ViewData["PlannedDuration"]: @Math.Round(TimeSpan.FromTicks(Model.PlannedDuration).TotalDays) @ViewData["Days"]</li>
        }
        else
        {
        <li class="list-group-item">
            @ViewData["PlannedDuration"]: @Math.Round(TimeSpan.FromTicks(Model.PlannedDurationSum).TotalDays) @ViewData["Days"] =
            @Math.Round(TimeSpan.FromTicks(Model.PlannedDuration).TotalDays) @ViewData["Days"] +
            @Math.Round(TimeSpan.FromTicks(Model.PlannedDurationSubtasks).TotalDays) @ViewData["Days_Subtasks"]
        </li>
        }
        <li class="list-group-item">@ViewData["TaskStatus"]: @Model.TaskStatus</li>
        @if (@Model.TaskStatus == "Завершена")
        {
        <li class="list-group-item">@ViewData["CompletionDate"]: @Model.CompletionDate</li>
        }
        @if (Model.ActualDurationSubtasks == 0)
        {
        <li class="list-group-item">@ViewData["ActualDuration"]: @Math.Round(TimeSpan.FromTicks(Model.ActualDuration).TotalDays) @ViewData["Days"]</li>
        }
        else
        {
        <li class="list-group-item">
            @ViewData["ActualDuration"]: @Math.Round(TimeSpan.FromTicks(Model.ActualDurationSum).TotalDays) @ViewData["Days"] =
            @Math.Round(TimeSpan.FromTicks(Model.ActualDuration).TotalDays) @ViewData["Days"] +
            @Math.Round(TimeSpan.FromTicks(Model.ActualDurationSubtasks).TotalDays) @ViewData["Days_Subtasks"]
        </li>
        }
    </ul>
}


